.categories_filter{
    display: flex;
    padding-bottom: 16px;
    overflow:auto;
}

.categories_filter button{
    margin-right: 10px;
    white-space: nowrap;
}

.card-photo{
    width: 100%;
    height: 225px;
    object-fit: cover;
}

.avatar{
    border-radius: 50%;
    width: 175px;
    height: 175px;
}

a {
    text-decoration: none; /* no underline */
}
