.slider{
    background-color: var(--background-color);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 50 1600 680'%3E%3Cg fill-opacity='0.1'%3E%3Cpolygon fill='%233c4043' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23585a5d' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23737576' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%238f8f90' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23AAAAAA' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-size: cover;
    height: 500px;
}
