
.custom-form {
    color: var(--form-color);
    background-color: var(--form-bg-color);
}

[type=text]:focus{
    color: var(--form-color);
    background-color: var(--form-bg-color);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  flex: 0 0 calc(33% - 20px);
  max-width: 33%;
  margin: 10px;
  background-color: var(--back-color);
}

@media (max-width: 992px) {
  .card {
    flex: 0 0 calc(50% - 20px);
    max-width: 50%;
  }
}

@media (max-width: 768px) {
  .card {
    flex: 0 0 calc(100% - 20px);
    max-width: 100%;
  }
}

/* СSS для карусели */
body {
  padding-bottom: 3rem;
  background-color: var(--body-back-color);
  color: var(--body-color);

}

.carousel {
  margin-bottom: 4rem;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-item {
  height: 32rem;
  background-color: #777;
}

.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing h2 {
  font-weight: 400;
}

.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


.featurette-divider {
  margin: 5rem 0;
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
