:root {
    --own-bg-main: #080808;
    --own-bg-secondary: #141414;
    --own-bg-accent: #1d1d1d;
    --own-btn-color: #2a2a2a;
    --own-accent-1: #5cff9c;
    --own-accent-2: #ec3595;
    --own-text-main: #ffffff;
    --own-text-secondary: #ababab;
}