:root {
    --own-bg-main: #ffffff;
    --own-bg-secondary: #ffffff;
    --own-bg-accent: #e3e3e3;
    --own-btn-color: #2a2a2a;
    --own-accent-1: #14b753;
    --own-accent-2: #ec3595;
    --own-text-main: #000000;
    --own-text-secondary: #363636;
}