@media screen and (min-width: 1070px) {
    body {
        background: #5A5D67;
        color: #000;
        font-family: sans-serif;
        font-size: 10px;
        height: 100%;
        margin: 20px 50px 20px 50px;
    }
}
@media screen and (min-width: 738px) and (max-width: 1070px) {
    body {
        background: #5A5D67;
        color: #000;
        font-family: sans-serif;
        font-size: 9px;
        margin: 20px 50px 20px 50px;
    }
}
@media screen and (min-width: 0px) and (max-width: 738px) {
    body {
        background: #202225;
        color: #000;
        font-family: sans-serif;
        font-size: 8px;
        margin: 10px 30px 10px 30px;
    }
}


.header {
    overflow-y: auto;
    word-wrap: break-word;
    text-align: center;
    background: Black;
    width: 25%;
    height: 60px;
    float: left;

}

@media screen and (min-width: 1070px) {
    .header h2 {
        padding-top: 6px;
        padding-left: 25px;

    }
}

@media screen and (min-width: 738px) and (max-width: 1070px) {
    .header h2 {
        padding-top: 10px;
        padding-left: 23px;

    }
}

@media screen and (min-width: 0px) and (max-width: 738px) {
    .header h2 {
        padding-top: 10px;
        padding-left: 10px;

    }
}


.container {
    vertical-align: middle;
    background: #0000;
    margin: auto auto;
    text-align: center;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 1070px) {
    .graph {

        float: left;
        width: 25%;
        overflow-y: auto;
        overflow-x: auto;
        /*height: 600px;*/
        height: 600px;
        background-color: white;
        /*line-height: 40px;*/
    }
}

@media screen and (min-width: 738px) and (max-width: 1070px) {
    .graph {

        float: left;
        width: 35%;
        overflow-y: auto;
        overflow-x: auto;
        /*height: 600px;*/
        height:750px;
        background-color: white;
        /*line-height: 40px;*/
    }
}

@media screen and (min-width: 0px) and (max-width: 738px) {
    .graph {

        width: 100%;
        overflow-y: auto;
        overflow-x: auto;
        /*height: 600px;*/
        height: 550px;
        background-color: white;
        /*line-height: 40px;*/
    }
}

.date_and_time {
    float: left;
    width: 100%;
    overflow-y: auto;
    overflow-x: auto;
    /*height: 600px;*/
    height: 50%;
    background-color: white;
    line-height: 60px;
    text-align: center;
}

.date_and_time span {
    font-size: 25px;
}

@media screen and (min-width: 1070px) {
    .table {

        float: right;
        width: 73%;
        text-align: center;
        overflow-y: auto;
        overflow-x: auto;
        border: none;
    }
}

@media screen and (min-width: 738px) and (max-width: 1070px) {
    .table {

        float: right;
        width: 63%;
        text-align: center;
        overflow-y: auto;
        overflow-x: auto;
        border: none;
    }
}

@media screen and (min-width: 0px) and (max-width: 738px) {
    .table {


        width: 100%;
        text-align: center;
        overflow-y: auto;
        overflow-x: auto;
        border: none;
    }
}


.table.thead.tr.th {
    background-color: Black
}

.coord_col {
    width: 8vw;
}

.time_col {
    width: 25vw;
}


.clear {
    height: 20px;
    clear: both;
}


.r_button {
    width: 40px;
    height: 20px;
    color: #ffffff;
    background-color: Black;
    border: none;
}

.r_button:hover {
    background-color: #202225;
}


/*#res-table tr:nth-child(2n) {*/
/*    font-size: medium;*/
/*    background-color: Black;*/
/*}*/

.res-table tr {
    font-size: medium;
    background-color: #f4f3f6;
}


.res-table tr:hover {
    font-size: medium;
    background-color: #4e438a;
}

/*#res-table tr:nth-child(2n-1) {*/
/*    font-size: medium;*/
/*    background-color: white;*/
/*}*/

/*#res-table tr:nth-child(2n):hover {*/
/*    font-size: medium;*/
/*    background-color: #4e438a;*/
/*}*/

/*#res-table tr:nth-child(2n-1):hover {*/
/*    font-size: medium;*/
/*    background-color: #C6C6C6;*/
/*}*/

.res-table th {
    font-size: medium;
}

.namer {
    color: white;
    background: Black;
    height: 40px;
    line-height: 45px;
}

body form {
    margin: 0;
}

body h2 {
    margin: 0;
}

.header h2 {
    padding-top: 23px;
}

.button {
    height: 27px;
    width: 80px;
    color: #ffffff;
    background-color: Black;
    border: none;
}

.button:hover {
    background-color: #4e438a;
}

.text-error {
    border: 2px solid #ff0000;
}

.error {
    color: red;
}

.pressed-button {
    background-color: #7872ac;
}


.link {
    text-align: center;
}

.y_container {

}

.y1, .y2, .y3, .y4, .y5, .y6, .y7, .y8, .y9, .y10 {
    padding: 5px 4px;
}

.graph-canvas {
    position: absolute;
    left: 0;
    right: 0;
    top: 13%;
    margin: 6px auto;
    /*background-color: red;*/
    /*opacity: 0.2;*/
    z-index: 2;


}

.canvas_and_graph {
    position: relative;
    /*text-align: center;*/
    min-height: 220px;


}

.link_to_main{
    height: 27px;
    width: auto;
    padding: 5px 10px;
    /*text-decoration: none;*/
    font-size: 13px;
    color: #ffffff;
    background-color: Black;
    margin-left: 35px;
    margin-right: 35px;
}

.slider {
    width: 200px;
    margin: 0 auto 0 auto;
}

.p-tooltip	{

}

.auth {
    float: left;
    width: 100%;
    overflow-y: auto;
    overflow-x: auto;
    /*height: 600px;*/
    height: 50%;
    background-color: white;
    line-height: 60px;
    text-align: center;
}

.auth_buttons {
    text-align: center;

}

.login_field{
    width: 270px;
}