:root {
    --main-focus: #0b1c1f;
    --main-warning: #b3541e;
    --main-success: #395144;
    --main-text: #EDEDED;
    --main-black: #171717;
    --main-white: #232323;
    --main-grey: #696969;
    --main-accent: #198754;
}
