:root {
    --main-focus: #dc3545;
    --main-warning: #ffc107;
    --main-success: #198754;
    --main-text: #171717;
    --main-black: #181516;
    --main-white: #fff;
    --main-grey: #181516;
    --main-accent: #5593ff;
}
