:root {
    --back-color: #ffffff;
    --body-back-color: #ffffff;
    --body-color: #3b3939;

    --form-color: #495057;
    --form-bg-color: #ffffff;

    --border-color: #e5e7eb;
    --theme-type: light;
}
