html, body {
    margin: 0;
    padding: 0;
  }
  
  .nav {
    background: #85a5ff;
    padding: 1rem 1.25rem;
  }
  
  .nav__list {
    display: flex;
    justify-content: space-between;
  }
  
  .list--unstyled {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav__list a,
  .menu__list a {
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
  }
  
  .main {
    display: flex;
  }
  
  .menu-wrapper {
    min-width: 320px;
    background: #3564e6;
    margin-right: 1rem;
    min-height: 100vh;
  }
  
  .menu {
    margin: 0;
    padding: 0;
  }
  
  .menu__list {
    display: flex;
    flex-direction: column;
    padding: 1rem 1.25rem;
  }
  
  .menu__list a {
    font-size: 2rem;
  }
  
  .container {
    padding: 0.5rem 0.75rem;
  }
  
  .container .announce {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  
  .announce--full {
    -webkit-line-clamp: unset !important;
  }
  
  h1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100vw - 2rem);
  }
  
  @media screen and (max-width: 810px) {
    .menu-wrapper {
      max-width: 230px;
      min-width: 230px;
    }
  }
  
  @media screen and (max-width: 600px) {
    .menu-wrapper {
      display: none;
    }
  }