@import "~bootstrap/scss/bootstrap";

html, body {
    background: #FFF7E9;
  }
  
  .color--link {
    color:#FFF7E9;
  }

  .header {
    background: #FF731D;
  }

  .header__section {
    background: #FF731D;
  }

  .item--list {
    color: #FFF7E9;
  }

  .footer {
    background: #5F9DF7;
  }

  .footer__nav {
    background: #1746A2;
    padding: 0.5rem 1.25rem;
  }