:root {
	--nav-color: #198754;
	--form-body-color: #232921;
	--color-text: #ffffff;
	--button-color: #198754;
	--bac-color: #2d342c;

	--my-btn-secondary: #f8f9fa;
	--my-btn-active-color: #000;
	--my-btn-focus-shadow-rgb: 248,249,250;
}

