:root {
	--nav-color: #20c997;
	--form-body-color: #ffffff;
	--color-text: #000000;
	--button-color: #20c997;
	--bac-color: #fafdfa;

	--my-btn-secondary: #6c757d;
	--my-btn-active-color: #fff;
	--my-btn-focus-shadow-rgb: 108,117,125;
}

