:root {
    --bg-color: hsl(0, 0%, 96%);
    --text-color: rgb(35, 120, 232);
    --subtext-color: rgb(43, 47, 52);
    --admin-color: rgb(0, 0, 0);
    --card-color: rgb(255, 255, 255);
    --text-card-color: rgb(0, 0, 0);
    --link-color: #007bff;
    --btn-color: #007bff;
  }
