html, body {
    width: 100%;
    height: 100%;
}

header {
    position: absolute;
    width: 100%;
    top: 0;
}

.navbar {
    background-color: rgb(24, 162, 184);
}

.card-location {
    color: black;
    font-size: 1.5rem;
}
.card-body {
    line-height: 2rem;
}

.card-block {
    margin: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-field {
    padding-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-control {
    margin: 2px;
}
.card-header {
    height: 150px;

}
.body-background {
    background-color: #ffffe6;
}
.button-back {
    background-color: #804000 !important ;
    color: #fff !important;
}
.text-index {
    color: #4d2600 !important;
}
.table-color {
    background-color: #c9a079;
}