.nav-logo {
    width: 40%;
}

.nav-link {
    font-family: Tahoma, sans-serif;
    font-weight: bold;
}

.table {
    border: 2px solid var(--card-color) !important;
}

.head-row {
    border-bottom: 2px solid;
    font-weight: normal;
}

.search-row {
    height: 65px;
}

.btn-link {
    width: 100px;
}

.logo-item {
    padding-left: 15px;
}

.sort-arrow {
    border: none;
    background-color: white;
    display: inline-block;
}

.btn-pagination {
    border: none;
    background-color: white;
    margin-left: 15px;
}

body, thead, tbody {
    background-color: var(--bg-color);
    color: var(--text-color);
    border-color: var(--card-color) !important;
}

tbody {
    border-top: var(--card-color);
}

.page-number {
    border-color: var(--text-color);
}

tr {
    border-color: var(--card-color);
}

.search-row {
    background-color: var(--bg-color) !important;
}

.form-control {
    background-color: var(--bg-color);
    border-color: var(--border-input);
    color: var(--text-color);
}

.form-control:focus {
    background-color: var(--bg-color);
    border-color: var(--link-hover);
    box-shadow: 0 0 10px var(--btn-hover);
    color: var(--text-color)
}

.btn-primary {
    background-color: var(--btn-color);
}

.btn-primary:hover {
    background-color: var(--btn-hover);
    border-color: var(--link-hover);
    box-shadow: 0 0 10px var(--btn-hover);
}

.nav-link {
    font-family: Tahoma, sans-serif;
    font-weight: bolder;
    color: var(--link-color);
}

.nav-link:hover {
    color: var(--link-hover);
}


@media (prefers-color-scheme: dark) {
    .logout-button, .sort-arrow, .btn-pagination {
        filter: invert(88.5%);
    }

    .clear, .search-icon {
        filter: invert(88.5%);
    }

    .bi-search {
        filter: invert(100%);
    }

    .nav-logo {
        filter: invert(10%);
    }
}

