.relative {
    position: relative;
}
  
/* .d-inline-block {
    display: inline-block;
} */

.thumbnail-text {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: scale(3, 3) translateX(75px);
    /* text-shadow: 1px 1px 2px pink; */
    text-shadow: 3px 3px #558ABB;
}