:root {
    --main-black: #181516;
    --main-blue: #457bb7;
    --main-yellow: #ff9d04;
}

@font-face {
    font-family: 'Avanturin';
    src: url("Avanturin.ttf");
    font-weight: auto;
    font-style: auto;
}

.title-font {
    font-family: 'Avanturin', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.black {
    color: var(--main-black);
}

.black-bg {
    background-color: var(--main-black);
}

.dropdown-menu {
    width: 300px;
}

.empty-div-sm {
    height: 90px;
}

.empty-div-lg {
    height: 190px;
}

.empty-div-xl {
    height: 140px;
}


.img-rate {
    width: 100%;
    height: auto;
}

.img-library {
    margin-top: -4em;
    margin-bottom: -4em;
}

.adv {
    height: 10em;
}

.card-book {
    width: 13rem;
}

.card-library {
    width: 50rem;
}

