html, body {
    height: 100%;
    }

body {
    display: flex;
    flex-direction: column;
    background-color: #00203FFF;
    }
nav {
    background-color: #00203FFF;
    }

section{
    background-color: #00539CFF;
}
<<<<<<< HEAD

=======
>>>>>>> dd78f249d9b4b162410477cd86fc804138152366
