:root {
    --accent-color: #efd67d;
    --button-color: #2a7aab;
    --accent-on-hover: #24398e;
    --background-color: #f5f5f5;
    --nav-link-on-hover: #000000;
    --text-color: #212529;
    --accent-text: white;
    --form-background: white;
    --form-border-color: #86b7fe;
}
.nav-link:hover {
    border-bottom: 2px solid black;
}