.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    visibility: hidden;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 99;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}

.popup {
    margin-bottom: 60px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
}

@media screen and (max-width: 700px){
    .box{
        width: 70%;
    }
    .popup{
        width: 70%;
    }
}