:root {
	--nav-color: #B22222 !important;
	--color-text: #e0dddd !important;
	--color-text-h1: #f9ebeb !important;
	--bac-color: #b2222289 !important;
	--button-color: #3c2323 !important;
	--color-text-btn: #000;
}