:root {
	--nav-color: #B22222 !important;
	--color-text: #000 !important;
	--color-text-h1: #781c1c !important;
	--bac-color: #b2222289 !important;
	--button-color: #f08080 !important;
	--color-text-btn: #fff !important;
	
}