.loginIn{

    font-family: 'NotoSansDisplay', sans-serif;
    font-size: 14px;
    font-weight: bold;
}
.loginIn:hover{
    color:#0051ff;

}
/* Стили кнопки */
.iksweb
{
    display: inline-block;
    cursor: pointer;
    font-size: 13px;
    text-decoration:none;
    padding:10px 20px;
    color:#ffffff;
    background:#0051ff;
    border-radius:5px;
    border:2px solid #0052ff;
}
.iksweb:hover{
    display: inline-block;
    cursor: pointer;
    font-size: 13px;
    text-decoration:none;
    padding:10px 20px;
    color:#ffffff;
    background: #063498;
    border-radius:5px;
    border:2px solid #0052ff;
}
