.closed_filter_menu{
    display: none;
}

.filter_field{
    position: relative;
}


.opened_filter_menu{
    display: block;
    z-index: 10;
    margin-top: 5px;
    left: -5px;
    flex-direction: column;
    position: absolute;
    background: white;
    max-height: 300px;
    overflow: auto;
    padding: 10px;
    box-shadow: 0 5px 5px #707070;
}
