@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

.body {
    font-family: 'Roboto Condensed', sans-serif;
}


.introInfo {
    margin-bottom: 50px;
    text-align: center;
}

.title {
    margin: 10px;
    text-align: center;
}

.introInfo {
    font-size: 20px;
    text-align: center;
}

.eventsButton {
    margin: 10px;
    text-align: center;
}

.image_main {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
} 
