@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Manrope&family=Oswald:wght@300&family=Roboto&display=swap');

body {
  height: 100vh;
  width: 100vw;
  font-family: 'Manrope', sans-serif;
}
.page-enter {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.enter-form {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: rgba(0, 51, 0, 0.5);
}
.img-enter {
  display: flex;
  height: 100vh;
  background-color: rgba(0, 51, 0, 0.5);
}
.en-title {
  font-size: 60px;
  padding-top: 60px;
  color: white;
}
.reg-title {
  font-size: 40px;
  padding-top: 60px;
  color: white;
}
.en-form {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.btn-enter {
  background-color: #333300;
  color: white;
  margin-bottom: 10px;
}
.btn-enter:hover {
  background-color: #1a1a00;
  color: white;

}
.register-link {
  text-decoration: none;
  font-family: 'Manrope', sans-serif;
  color: white;
  font-size: 20px;
}
.register-link:hover {
  color: #333300;
}
