html,
body {
    height: 100%;
}

.bg-gray {
    background-color: rgb(50, 50, 50);
}

.bg-creme {
    background-color: rgba(212, 202, 189, 0.7);
}

.filter-orange {
    filter: invert(38%) sepia(89%) saturate(658%) hue-rotate(338deg) brightness(93%) contrast(93%);
}

.orange {
    color: rgb(210, 89, 39);
}

.white {
    color: #FFFFFF;
}

.navbar-logo {
    padding-top: 0.3125rem;
    margin-right: 3rem;
    font-size: 1.2rem;
    color: rgb(210, 89, 39);
    text-decoration: none;
    white-space:nowrap
}

@media only screen and (max-width: 991px) {
    .navbar-logo {
        margin-left: 3rem;
    }
}

.navbar-logo:focus, .navbar-logo:hover {
    color: rgb(210, 89, 39);
}

.navbar-orange {
    --bs-navbar-color: rgba(255, 255, 255, 0.55);
    --bs-navbar-hover-color: rgba(255, 255, 255, 0.75);
    --bs-navbar-disabled-color: rgb(94, 94, 94);
    --bs-navbar-active-color: rgb(210, 89, 39);
    --bs-navbar-brand-color: rgb(210, 89, 39);
    --bs-navbar-brand-hover-color: rgb(210, 89, 39);
    --bs-navbar-toggler-border-color: rgba(255, 255, 255, 0.1);
}

.btn-orange {
    --bs-btn-color: #fff;
    --bs-btn-bg: rgb(210, 89, 39);
    --bs-btn-border-color: rgb(212, 202, 189);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: rgb(215, 99, 46);
    --bs-btn-hover-border-color: rgb(212, 202, 189);
    --bs-btn-focus-shadow-rgb: 130, 138, 145;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: rgb(210, 89, 39);
    --bs-btn-active-border-color: rgb(212, 202, 189);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #6c757d;
    --bs-btn-disabled-border-color:#6c757d
}

.link-white {
    color:#ffffff !important
}

.link-white:focus, .link-white:hover {
    color:#6c757d !important
}

.link-gray {
    color: rgb(94, 94, 94);
}

.link-gray:focus, .link-gray:hover {
    color: rgb(210, 89, 39) !important
}

.text-left {
    text-align: left !important;
}

.sign-body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgb(212, 202, 189);
}

.sign-form {
    max-width: 350px;
    padding: 15px;
}
